main {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

div {
  font-size: 1em;
  padding: 1em;
}

.static {
  background-color: aqua;
}

.relative {
  position: relative;
  top: -30px;
  width: 50%;
  margin: 0 auto;
  background-color: blue;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  background-color: brown;
}

.sticky {
  position: sticky;
  top: 64px;  
  background-color: green;
}

.fixed {
  position: fixed;
  right: 64px;
  bottom: 64px;
  background-color: red;
}