.layout-cabecalho {
    
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.layout-cabecalho--fixo{
    position: fixed;
    width: 100%;
    background-color: azure;
    
}


.layout-planos {
  padding: 80px 0;
}

.layout-principal {
  padding: 80px 0;
  background-color: #3d3d3d;
}

.layout-depoimento{
  padding: 80px 0;
  background-color: #e7e7e7;
}