* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 80px;
  margin-top: 10px;
}

/* .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
} */

#planos {
  padding: 80px 0;
}

#planos::after {
  content: "";
  clear: both;
}

article {
  border: solid 1px #95a4a5;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

/* @media (min-width: 800px) {
  article {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
} */

article > h2 {
  margin: -10px;
  background-color: #383838;
  color: #fff;
  line-height: 2.5;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
  border-radius: 2%;
}

article > div {
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
}

article > ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.botao {
  display: inline-block;
  background-color: #910000;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  outline: none;
}

.botao:hover {
  background-color: rgb(27, 27, 27);
}

.botao:focus {
  background-color: rgb(255, 255, 255);
  color: black;
}