body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
h1 {
  margin: 0px;
}
article {
  background-color: rgb(145, 0, 0);
}
.coluna1,
.coluna2 {
  background-color: rgb(122, 31, 31);
}
.coluna1 {
  float: left;
  width: 45%;
}
.coluna2 {
  float: right;
  width: 45%;
}
div {
  text-align: center;
  text-decoration: underline;
  background-color: rgb(0, 0, 0);
  clear: both;
  color: white;
}
